
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" align="center">
        <img src="gato_durmiente.png" class="d-block w-40" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Gato que Duerme</h5>
          <p>Duerme 23:99 horas al día.</p>
        </div>
      </div>
      <div class="carousel-item" align="center">
        <img src="gato_demoniaco.png" class="d-block w-35" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Gato de las sombras</h5>
          <p>Hecho 100% de miedo y oscuridad.</p>
        </div>
      </div>
      <div class="carousel-item" align="center">
        <img src="gato_boronchi.png" class="d-block w-35" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Neko Gato</h5>
          <p>De vez en cuando dice "burunyuu".</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
